{{>partials/header}}

<fieldset>
<legend>FORMULÁRIO DE CADASTROS</legend>
    <form method="post" action="">
        <label for="name">Nome: </label>
        <input type="text" name="name">
        <label for="idade">Idade: </label>
        <input type="number" name="idade" id="">
        <button>Cadastrar</button>

    </form>
</fieldset>

{{>partials/footer}}