{{>partials/header}}

Opa {{name}} {{lastName}}, tudo bem?
{{#showOld}}
    Como vai a vida?
{{/showOld}}
{{^showOld}}
    Beleza?
{{/showOld}}
<hr/>
<br>
<br>
<fieldset>
    <legend>FORMULÁRIO DE CADASTROS</legend>
        <form method="post" action="/novousuario">
            <label for="name">Nome: </label>
            <input type="text" name="name">
            <br>
            <br>
            <label for="idade">Idade: </label>
            <input type="number" name="idade" id="">
            <br>
            <br>
            <label for="email">Email: </label>
            <input type="email" name="email" id="">
            <br>
            <br>
            <label for="password">Senha: </label>
            <input type="password" name="password" id="">
            <br>
            <br>
            <button>Cadastrar</button>
    
        </form>
    </fieldset>
    <br>
    <br>
<hr/>


<table>
    <thead><th>id</th><th>nome</th><th>idade</th></thead>
    {{#valor}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{idade}}</td>
            <td><a href="/usuarios/{{id}}/mais">+</a></td>
            <td><a href="/usuarios/{{id}}/menos">-</a></td>
            <td><a href="/usuarios/{{id}}/excluir">delete</a></td>
        </tr>
    {{/valor}}

</table>


<hr/>
<h2>Produtos</h2>
<ul>
    {{#products}}
        {{>partials/productItem}}
    {{/products}}
</ul>

<hr/>
<h2>Produtos a partir de R$ 12</h2>
<ul>
    {{#expensives}}
        {{>partials/productItem}}
    {{/expensives}}
</ul>

<hr/>

<ul>
    {{#frasesDoDia}}
        <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
        Não há frases motivacionais hoje.
    {{/frasesDoDia}}
</ul>

{{>partials/footer}}