{{>partials/header}}

<fieldset>
    <legend>LOGIN: </legend>
    <label for="email" class="email">E-mail: </label>
    <input type="email" name="email" class="input-email" id="none"/>
    <input type="password" name="" id="">

</fieldset>


{{>partials/footer}}